.ipynb_checkpoints
checkpoints
cache_dir
datasets/*/
deps/fastText-0.9.1
*.tar.gz
spacy_models
__pycache__
runs
eval
experiments
notebooks/en_core_web_sm_lower
resources
flair_checkpoints
*.pkl
models