.ipynb_checkpoints
/checkpoints
/cache_dir
/datasets/*/
/deps/fastText-0.9.1
*.tar.gz
/spacy_models
__pycache__
/runs
/eval
experiments
/resources
/flair_checkpoints
*.pkl
/models
/refactorsets
/refactorcheckpoints
/brk
/old_papers
/old_notebooks
/outputs