[submodule "deps/apex"]
	path = deps/apex
	url = https://github.com/NVIDIA/apex
[submodule "deps/MASS"]
	path = deps/MASS
	url = https://github.com/hokkaido/MASS.git
[submodule "deps/files2rouge"]
	path = deps/files2rouge
	url = https://github.com/pltrdy/files2rouge.git

