[submodule "deps/apex"]
	path = deps/apex
	url = https://github.com/NVIDIA/apex
[submodule "deps/snorkel"]
	path = deps/snorkel
	url = https://github.com/HazyResearch/snorkel
[submodule "deps/XLM"]
	path = deps/XLM
	url = https://github.com/facebookresearch/XLM
[submodule "deps/transformer-xl"]
	path = deps/transformer-xl
	url = https://github.com/kimiyoung/transformer-xl
[submodule "deps/fastBPE"]
	path = deps/fastBPE
	url = https://github.com/glample/fastBPE
[submodule "deps/MASS"]
	path = deps/MASS
	url = https://github.com/hokkaido/MASS.git
[submodule "deps/files2rouge"]
	path = deps/files2rouge
	url = https://github.com/pltrdy/files2rouge.git
